
.paragraphline {
  color: #787878;
  font-weight: bold;
}
.Cards {
  margin-left: 5px;
  float: left;
  width: 280px;
  justify-content: center;
  margin-bottom:20px;
}

.cards-container {
  margin-right: 20px;
}