:root {
    --primary: #ffffff;
}

.nav{
    padding: 1.8rem 0;
    background-color: var(--primary);
}

.hamburger {
    display: none;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url(./logo.png);
    width: 30%;
    margin-left: -115px;
} 

/* .line {
    width: 100%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff6600;
    border: 0 none;
}   */

.separator {
    width: 100%;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(44, 44, 44);
    border: 0 none;
    padding-top: 35px;
    padding-left: 65px;
    margin-top: 35px;
}

.separator span {
    color: #fff;
    font-size: 300%;
}


.nav-list{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: .5rem;
}

.nav-link {
    font-size: 1.8rem;
    color: #111;
    padding: 1rem;
    border-radius: .5rem;
    transition: all 300ms ease-in-out;
}

.nav-link:hover{
    color: #ff6600;
}

.chooseNationality {
    font-size: 25px;
    margin-top: 40px;
    padding-left: 65px;
}

/* .border {
    color: #ff6600;
} */



#countryCmbBox {
    padding-left: 65px;
}

.col-lg-3 {
    padding-left: 65px;
}







.cardsTitle {
    font-size: 25px;
}
.cards {
    width: 370px;
    /* display: flex; */
    flex-direction: column; 
    margin-left: 1100px;
}
.root:hover {
    color: #ff6600;
}

.borderCards {
    color: rgb(207, 207, 207);
}

