.titleHome {
    font-size: 250%;
}
.hairline {
    height: 2;
    width: 165;
  }
  
  .loginButtonBelowText1 {
    font-family: 'AvenirNext-Bold';
    font-size: 14;
    color: '#A2A2A2';
  }

.intro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    /* box-shadow:i 0 0 0 1000px; rgba(0,0,0,0.2); */
    object-fit: contain;
    margin-top:-100px;
}

.intro-container > h1 {
    color: #111;
    font-size: 250%;
    text-align: left;
    margin-left:5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.intro-container > p {
    margin-top: 0%;
    width: 95%;
    color: #111;
    font-size: 18px;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: left;
    max-width: 50%;
    margin-left:5%;
}
.imageHome {
    object-fit: contain;
    max-height: 420px;
    max-width: 420px;
    margin-top: -58%;
    margin-left: 120%;
}